@media (max-width: 1200px) {
    .fact {
        flex-direction: column;
        align-items: flex-end;
        gap: 12px;
    }
}

@media (max-width: 1100px) {
    .body {
        padding: 42px 48px;
    }

    .fact-form {
        flex-direction: column;
        align-items: stretch;
    }

    .fact-form input,
    .fact-form select {
        width: auto;
    }
}

@media (max-width: 900px) {
    .main {
        grid-template-columns: 1fr;
    }
}